.r-d-flex{
    display: flex;
    display: -webkit-flex;
}

.r-d-grid{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

.padding-inline{ padding-inline: 12% }

.r-button{
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    background-color: var(--Soft-Blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:active{ transform: translateY(1px) }
    
    &:hover{
        color: var(--Soft-Blue);
        background-color: #fff;
        outline: 1.5px solid var(--Soft-Blue);
    }
}

.r-radius{ border-radius: 5px }

.r-text-color{ 
    font-size: .9em;
    color: var(--Grayish-Blue); 
    line-height: 1.4;
}

/* Responsive: LapTop 1024px */
@media screen and (width <= 1024px){.padding-inline{ padding-inline: 8% }}

/* Responsive: Mobile 500px */
@media screen and (width <= 500px){.padding-inline{ padding-inline: 6% }}