.r-d-flex{
    display: flex;
    display: -webkit-flex;
}

.r-d-grid{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

.r-button{
    border: none;
    cursor: pointer;
}

.r-radius{
    border-radius: 5px;
}

.r-text-color{ color: var(--Grayish-Blue); }