.features{
    margin-top: 100px;
    
    .header_features{
        justify-self: center;
        width: 560px;
        text-align: center;
        line-height: 1.4;
        
        h1{
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
    }

    /* Features Tab */ 
    .features-tab{
        margin-top: 60px;

        .slider{
            width: 58%;
            margin-inline: auto;
            
            .slide{
                position: relative;
                align-content: center;
                flex: 1; height: 50px;
                font-size: .82em;
                font-weight: 500;
                text-align: center;
                border-bottom: 1.5px solid #0002;
                cursor: pointer;

                &::after{
                    content: "";
                    position: absolute;
                    inset: 48px 0 0 50%;
                    width: 0; height: 2px;
                    background-color: var(--Soft-Red);
                    transform: translateX(-50%);
                    transition: width .1s linear;
                }

                &:hover{ 
                    color: var(--Soft-Red);
                    &::after{ width: 100% }
                }
            }

            .active-slide{
                color: var(--Soft-Red);
                &::after{ width: 100% }
            }
        }

        .feature-tab{
            position: relative;
            margin-top: 60px;

            .feature{
                position: fixed;
                justify-content: space-between;
                align-items: center;
                opacity: 0;
                transition: opacity .1s linear;

                .illustration-feature{
                    position: relative;
                    width: 50%;

                    &::after{
                        content: "";
                        position: absolute;
                        inset: 70px 0 0 -40%;
                        width: 123%; height: 93%;
                        background-color: var(--Soft-Blue);
                        border-radius: 0 200px 200px 0;
                        z-index: -1;
                    } 
                    
                    img{ width: 100% }
                }

                .feature-text{
                    width: 400px;
                    h2{ font-size: 1.5em }
                    p{ margin-block: 30px }
                }
            }

            .show-feature{
                position: static;
                opacity: 1;
            }
        }
    }
}

/* Responsive: LapTop 1024px */
@media screen and (width <= 1024px){
    /* Features Tab */
    .features .features-tab{
        .slider{ width: 70% }
        .feature-tab .feature .illustration-feature{ width: 48% }
    }
}

/* Responsive: Tablet 900px */
@media screen and (width <= 900px){
    /* Features Tab */
    .features .features-tab{
        .slider{ width: 80% }

        .feature-tab .feature{
            flex-direction: column;
            gap: 110px;
    
            .illustration-feature{
                width: 72%;
                &::after{
                    left: -50%; bottom: -60px;
                    width: 136%; height: 88%;
                } 
            }
    
            .feature-text{
                text-align: center;
                justify-self: unset;
                button{ width: 40% }
            }
        }
    } 
}

/* Responsive: Mobile 500px */
@media screen and (width <= 500px){
    .features{
        margin-top: 140px;
        padding-inline: 8%;

        .header_features{ width: 100% }
        
        /* Features Tab */
        .features-tab{
            margin-top: 40px;

            .slider{
                flex-direction: column;
                width: 100%;
                .slide{ flex: none }
            }

            .feature-tab{
                padding: 0;

                .feature{
                    gap: 70px;

                    .illustration-feature{ 
                        width: 100%;
                        &::after{ bottom: -40px }
                    }

                    .feature-text{
                        width: 100%;

                        p{ margin-bottom: 0 }
                        button{ display: none }
                    }
                }
            }
        }
    }
}

/* Responsive: Mobile 340px */
@media screen and (width <= 340px){ .features{ margin-top: 110px } }