.main .hero{
    justify-content: space-between;
    padding: 0 4% 0 12%;

    .hero-text{
        gap: 30px;
        max-width: 420px; height: max-content;
        margin-top: 40px;

        h1{ font-size: 2em; }

        p{
           font-size: .9em;
           line-height: 1.4;
        }

        .buttons{
            gap: 10px;

            button{
                padding: 10px 20px;
                font-weight: 600;
                &:active{ transform: translateY(1px) }

                &:last-child{
                    color: #000;
                    background-color: #fff;
                    box-shadow: 0 2px 2px #0002;

                    &:hover{
                       color: var(--Grayish-Blue);
                       outline: 1.5px solid #0002;
                    }
                }
            }
        } 
    }

    .illustration-hero{
        position: relative;
        width: 50%;
        
        &::after{
            content: "";
            position: absolute;
            right: calc(-9% - 3px);
            bottom: -10px;
            width: 80%; height: calc(70% + 10px);
            background-color: var(--Soft-Blue);
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
            z-index: -1;
        }

        img{ 
            width: 100%;
            object-fit: contain;
        }
    }
}

/* Responsive: LapTop */
@media screen and (width <= 1024px){
    .main .hero{
        padding: 0 4% 0 8%;
    }
}

/* Responsive: Tablet */
@media screen and (width <= 900px){
    .main .hero{
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 4%;

        .hero-text{ 
            margin-top: 10px;
            text-align: center;
            .buttons{ justify-content: center }
        }

        .illustration-hero{
            width: 100%; 

            &::after{
                right: calc(-4% - 2px);
                height: 59%;
                bottom: 50px;
            }
                
            img{ transform: scale(.8); }
        }
    }
}

/* Responsive: Mobile */
@media screen and (width <= 500px){
    .main .hero{
        .hero-text{
            margin-top: 40px;
            p{ text-wrap: balance }
        }

        .illustration-hero{
            &::after{
                right: calc(-4% - 4px);
                bottom: -5px;
                width: 93%; height: 78%;
            }
            
            img{ transform: scale(1.1) }
        }
    }
}

@media screen and (width <= 340px){
    .main .hero .hero-text{
        h1{ font-size: 1.6em }
        .buttons button{ padding: 10px 15px }
    }
}