.hero{
    justify-content: space-between;
    padding: 0 4% 0 12%;

    .header_hero{
        width: 420px;
        margin-top: 40px;

        p{ margin-block: 30px }

        .buttons button{
            &:active{ transform: translateY(1px) }
            &:first-child{ margin-right: 10px }

            &:last-child{
                color: #000;
                background-color: #fff;
                box-shadow: 0 2px 2px #0002;

                &:hover{
                   color: var(--Grayish-Blue);
                   outline: 1.5px solid #0002;
                }
            }
        }
    }

    .illustration-hero{
        position: relative;
        width: 52%;
        
        &::after{
            content: "";
            position: absolute;
            right: -9.1%; bottom: -8px;
            width: 80%; height: 72%;
            background-color: var(--Soft-Blue);
            border-radius: 200px 0 0 200px;
            z-index: -1;
        }

        img{ 
            width: 100%;
            object-fit: contain;
        }
    }
}

/* Responsive: LapTop 1024px */
@media screen and (width <= 1024px){
    .hero{ 
        padding-left: 8%;

        .header_hero{ 
            margin-top: 20px; 
            transform: scale(.96);
        }
    }
}

/* Responsive: Tablet 900px */
@media screen and (width <= 900px){
    .hero{
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 4%;

        .header_hero{
            margin-top: 10px;
            text-align: center;
            transform: scale(1);
        }

        .illustration-hero{
            width: 100%;
            &::after{
                right: -5%; bottom: 40px;
                height: 60%;
            }
            img{ transform: scale(.9) }
        }
    }
}

/* Responsive: Mobile 500px */
@media screen and (width <= 500px){
    .hero{
        padding-inline: 6%;
        
        .header_hero{
            width: 100%;
            margin-top: 40px;
            p{ text-wrap: balance }
        }

        .illustration-hero{
            &::after{
                right: -7%; bottom: -5px;
                width: 93%; height: 78%;
            }
            
            img{ transform: scale(1.1) }
        }
    }
}

@media screen and (width <= 340px){
    .main .hero .header_hero{
        h1{ font-size: 1.6em }

        .buttons{
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;

            button{ 
                width: 100%;
                padding: 10px 0 10px 0;
                &:first-child{ margin: 0 }
            }
        }
    }
}